body {
    background-color: #f6f6f6;
  }
  * {
    padding: 0;
  }
  nav button {
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 14px;
    font-weight: bolder;
  }
  nav {
    display: flex;
    background-color: black;
    width: 1263px;
    height: 55px;
  }
  .login {
    margin-left: 700px;
    padding-right: 60px;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    list-style: none;
    position: absolute;
    top: 10px;
    transform: translateX(250px);
  }
  a {
    padding: 20px 10px 15px;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  nav .logo {
    transform: translateX(100px);
    width: 120px;
    height: 130px;
    background-image: url("logo-emirates.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  img {
    overflow: hidden;
    width: 1263px;
    height: 460px;
  }
  .hero-title {
    padding: 0px 60px;
    position: absolute;
    top: 150px;
    display: inline-block;
    transform: translateY(1rem);
  }
  .hero-subheading {
    font-family: Emirates-Bold, Arial, Lucida Grande, sans-serif;
    font-size: 2rem;
    line-height: normal;
    font-weight: bolder;
    display: block;
    padding-left: 2.1rem;
    position: absolute;
    transform: skew(-13deg);
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
    letter-spacing: 0.2rem;
  }
  .heading-wrap {
    margin-top: 5px;
    display: inline-block;
    top: 50px;
  }
  @media only screen and (min-width: 769px) {
    .hero-heading {
      font-size: 4rem;
      line-height: 8rem;
    }
  }
  .hero-heading {
    font-family: Heroic-Medium, Arial Narrow Bold, Franklin Gothic Medium,
      Franklin Gothic, Arial Narrow, HelveticaNeue, Helvetica, arial,
      sans-serif;
    font-weight: 400;
    padding: 0px 0px 13px 22px;
    transform: skew(-13deg);
    color: #fff;
    margin: 0;
    text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
    display: block;
  }
  .hero-discription {
    padding-right: 0.4rem;
    padding-left: 2.2rem;
    float: right;
    font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
    font-weight: bold;
    line-height: normal;
    transform: skew(-13deg);
    letter-spacing: 0.2rem;
  }
  .learn {
    font-weight: 700;
    background-color: #d71921;
    border-radius: 5px;
    position: relative;
    text-align: center;
    display: block;
    float: right;
    padding: 11px;
    font-size: 18px;
    line-height: 1.61rem;
  }
  .widget-container {
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    height: 233px;
  }

  .widget-container {
    transform: translateY(-70px);
    width: 1100px;
  }
  .container-items {
    width: 1100px;
    height: 250px;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.19);
  }
  .maincontant {
    display: block;
  }
  .hero-title a {
    width: 150px;
  }
  .items-grid {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
  .items-grid li:hover {
    border-bottom: 4px solid #d71921;
    transition: all 0.5s;
    cursor: pointer;
  }
  .items-grid {
    white-space: nowrap;
    margin: 2px;
  }
  .items-grid li {
    position: relative;
    padding: 20px 10px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    border-bottom: 4px solid black;
  }
  .serach-flights {
    height: 147px;
    width: 1058px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 1rem;
  }
  fieldset {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    width: 1054px;
    height: 32px;
    border: 0;
    padding: 0;
  }
  .switch-button1 {
    border: 2px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 95.11px;
    height: 30px;
    padding: 0.3rem 3rem 0.7rem;
    margin-right: -6px;
    padding-left: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .switch-button2 {
    border: 2px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: translateY(1px) translateX(5px);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100.56px;
    height: 30px;
    margin-right: 2rem;
    padding-left: 45px;
    padding: 0.3rem 3rem 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .flight-controls {
    width: 1082px;
    height: 100px;
    margin-top: 15px;
    transform: translateY(-120px);
  }
  .departure-arrival {
    display: flex;
    padding-left: 0;
    padding-left: 24px;
    transform: translateY(30px);
  }

  .inline-link {
    font-weight: 400;
    color: #d71921;
    text-decoration: underline;
    position: absolute;
    padding-top: 5px;
    top: 0;
    right: 0;
    text-align: right;
  }
  .departure-dropdown,
  .arrival-dropdown {
    width: 411.9px;
    height: 60px;
    border: 2px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  .arrival-dropdown div {
    padding: 10px 10px 10px;
  }
  .departure-dropdown div {
    padding: 10px 10px 10px;
  }
 
    .product-block {
      max-width: 1200px;
    }

  .product-block li {
    list-style-type: none;
    width: 137.25px;
    display: table-cell;
    height: 119px;
    border: 1px solid #666;
  }
  .product-block ul {
    display: table;
    list-style: none;
  }
  .product-block li a {
    top: 50px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-weight: 400;
    width: 136.25px;
    height: 101px;
    padding: 5px;
  }
  .product-block i{
    position: relative;
    top: 50px;
  }
  .continue button {
    width: 195.59px;
    height: 60px;
    color: white;
    background-color: #c60c30;
    margin-left: 20px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
  }

  /*Emirates Skywards*/

  .skywards-login {
    width: 1100px;
    height: 60.58px;
    margin: 25px auto;
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 5px solid black;
    border-radius: 5px;
  }
  .skywards-logo {
    width: 260px;
    height: 100.58px;
  }
  .sky-body{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 30px;
  }
  .emirates-skywards{
    color: white;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*Featured Destinations*/

  .fares-container {
    width: 1200px;
    height: 777px;
    padding-left: 50px;
  }
  .fares-destination {
    padding: 0 120px;
    text-align: center;
  }
  .fares-destination h2{
    font-weight: 200;
    font-size: 1.4rem;
    margin-top: 0;
    margin-right: 0.6rem;
    display: inline-block;
  }
  .fares-destination div{
    display: inline-block;
   font-size: x-large;
   font-weight: 700;
   text-decoration: underline;
  }
  .fares-list-grid li {
    margin-left: 3rem;
    margin-bottom: 2rem;
    list-style-type: none;
    display: inline-block;
    background-color: white;
  }
  .fares-list-grid img {
    width: 333px;
    height: 111px;
  }
  .fares-list-grid a {
    color: black;
  }
  .fares-budget{
    width: 333px;
  }

  /*Flying with Emirates*/

  .experience-block {
    width: 1200px;
    height: 863px;
  }
  .experience-heading {
    width: 1263px;
    height: 242.59px;
    padding-top: 30px;
    text-align: center;
  }
  .experience-heading span {
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial,
      Lucida Grande, sans-serif;
    font-size: 13px;
    line-height: 1.38rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    color: #666;
    text-align: center;
  }
  .experience-heading h2 {
    font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 3rem;
    line-height: 5.75rem;
    font-style: normal;
    width: 1223px;
    height: 57.5px;
    margin-top: 0;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
  }
  .experience-heading p {
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
      Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 1rem;
    line-height: 1.61rem;
    font-weight: 200;
    color: #666;
    margin-top: 30px;
    margin-bottom: 0;
    width: 1223px;
    height: 17.09px;
  }
  .experience-grid {
    width: 1200px;
    height: 544px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
  }
  .discover-dubai {
    background-color: white;
    width: 534px;
    height: 545px;
    border: 1px solid #666;
    cursor: pointer;
    margin-right: 10px;
  }
  .experience-container {
    width: 474px;
    height: 166px;
    padding: 30px 30px 0px;
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
      Helvetica, Arial, Lucida Grande, sans-serif;
  }
  .experience-container span {
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.4rem;
    color: #666;
  }
  .experience-item img{
    width: 534px;
    height: 349px;
    transition: all 0.5s ease;
  }
  .experience-container h3 {
    font-size: 3rem;
    line-height: 5.75rem;
    font-style: normal;
    margin: 0;
  }
  .experience-container p {
    font-size: 1rem;
    margin: 0;
  }
  .cabin-features {
    background-color: white;
    width: 262px;
    height: 262px;
    margin: 0;
    border: 1px solid #666;
  }
  .cabin-crew {
    display: grid;
    grid-template-columns: 264px 264px;
    grid-gap: 20px;
  }
  .cabin-item img {
    width: 262px;
    height: 131px;
  }
  .cabin-container {
    width: 222px;
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
      Helvetica, Arial, Lucida Grande, sans-serif;
    height: 111px;
    text-align: center;
    margin: 20px 20px 0px;
  }
  .cabin-container span {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.4rem;
    color: #666;
  }
  .cabin-container h3 {
    font-size: 20px;
    line-height: 2.53rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    position: relative;
    margin-bottom: 0;
    color: #333;
    margin: 0;
  }
  .cabin-container p {
    font-size: 13px;
    color: #666;
    margin: 0;
  }

  /*About us*/

  .primary-container {
    width: 1200px;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    position: relative;
    padding-bottom: 40px;
  }
  .primary-section-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 47px;
    margin: 0;
    display: block;
    text-align: center;
    line-height: normal;
  }
  .primary-discription {
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial,
      Lucida Grande, sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    color: #333;
    font-weight: 300;
  }
  .primary-container ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    max-width: none;
    padding: 0;
    margin: 0;
  }
  .primary-container ul li {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    width: 220px;
    min-width: 200px;
    padding-bottom: 10px;
    vertical-align: text-top;
    position: relative;
  }
  .primary-container ul li .rounded-image {
    width: 165px;
    height: 165px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #d8d8d8;
    box-shadow: inset 5px 3px 3px 0 rgba(0, 0, 0, 0.04);
    margin: 15px auto 0;
  }
  .primary-container ul li img{
    width: 100%;
    height: 100%;
  }
  .primary-container ul li span {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    text-decoration: underline;
    display: inline-block;
    color: #333;
  }
  .primary-container ul .rounded-image:hover {
    scale: 1.1;
    transition: all 0.5s ease;
  }

  /*---------------------------------For iPad pro-----------------------------*/

  @media only screen and (max-width:1024px){
    *{
        padding: 0;
        transition: all 0.5s ease;
    }
    .maincontant{
      width: 1024px;
    }
    .logo{
        width: 90px;
        height: 125px;
        Background-color: #d71921;
        transition: all 0.5s ease;
    }
    body{
        box-sizing: border-box;
        background: #f6f6f6;
        transition: all 0.5s ease;
    }
    nav{
        width: 1007px;
        height: 55px;
        transition: all 0.5s ease;
    }
    .login{
        width: 190px;
        height: 55px;
        margin-left: 420px;
        transition: all 0.5s ease;
    }
    nav ul{
        transform: translateX(230px);
        transition: all 0.5s ease;
    }
    .hero{
        width: 1007px;
        height: 460px;
        transition: all 0.5s ease;
    }
    .hero-title{
      display: table-cell;
      transition: all 0.5s ease;
    }
    .hero-image{
        width: 720px;
        height: 460px;
        transition: all 0.5s ease;
    }
    .container-items{
        width: 907px;
        height: 250.78px;
        transition: all 0.5s ease;
    }
    .widget-container{
      width: 907px;
    }
    .flight-controls{
        width: 700px;
        height: 70px;
        transition: all 0.5s ease;
    }
    .skywards-login{
        width: 850px;
        height: 60px;
        margin: 25px 0px;
        padding: 0px 50px;
        transition: all 0.5s ease;
    }
    .skywards-logo{
        width: 260px;
        height: 100px;
        transition: all 0.5s ease;
    }
    .sky-body{
        width: 400px;
        height: 56px;
        transition: all 0.5s ease;
    }
    .skywards-login a{
        width: 100px;
        transition: all 0.5s ease;
    }
    .fares-container{
      width: 957px;
      height: 766px;
    }
    .fares-destination{
        width: 667px;
        height: 40px;
        transition: all 0.5s ease;
    }
    .fares-list-grid{
        width: 957px;
        height: 611px;
        transition: all 0.5s ease;
    }
    .fares-list-grid li{
        width: 318.98px;
        height: 305.66px;
        transition: all 0.5s ease;
    }
    .fares-list-grid img{
        width: 305px;
        height: 89px;
        transition: all 0.5s ease;
    }
    .fares-list-grid a{
        width: 268.98px;
        height: 255.66px;
        transition: all 0.5s ease;
    }

    /*Flying With emirates*/

    .experience-block {
      position: relative;
      bottom: -19rem;
      width: 1024px;
      height: 1108px;
    }
    .experience-heading {
      width: 1024px;
      height: 242.59px;
      padding-top: 0;
      text-align: center;
    }
    .experience-heading span {
      font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial,
        Lucida Grande, sans-serif;
      font-size: 13px;
      line-height: 1.38rem;
      font-weight: 700;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      line-height: 1.5rem;
      color: #666;
      text-align: center;
    }
    .experience-heading h2 {
      font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;
      font-size: 3rem;
      line-height: 5.75rem;
      font-style: normal;
      width: 987px;
      height: 57.5px;
      margin-top: 0;
      margin-bottom: 20px;
      -webkit-font-smoothing: antialiased;
    }
    .experience-heading p {
      font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
        Helvetica, Arial, Lucida Grande, sans-serif;
      font-size: 1rem;
      line-height: 1.61rem;
      font-weight: 200;
      color: #666;
      margin-top: 30px;
      margin-bottom: 0;
      width: 984px;
      height: 17.09px;
    }
    .experience-grid {
      width: 1200px;
      height: 544px;
      padding-left: 50px;
      padding-right: 50px;
    }
    .discover-dubai {
      width: 534px;
      height: 545px;
      border: 1px solid #666;
      cursor: pointer;
      margin-right: 10px;
    }
    .experience-container {
      width: 474px;
      height: 166px;
      padding: 30px 30px 0px;
      font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
        Helvetica, Arial, Lucida Grande, sans-serif;
    }
    .experience-container span {
      font-weight: 700;
      font-size: 10px;
      letter-spacing: 0.4rem;
      color: #666;
    }
    .experience-container h3 {
      font-size: 3rem;
      line-height: 5.75rem;
      font-style: normal;
      margin: 0;
    }
    .experience-container p {
      font-size: 1rem;
      margin: 0;
    }
    .cabin-features {
      width: 262px;
      height: 262px;
      margin: 0;
      border: 1px solid #666;
    }
    .cabin-crew {
      position: relative;
      left: -34rem;
      bottom: -35rem;
      display: grid;
      
    }
    .cabin-item img {
      width: 262px;
      height: 131px;
    }
    .cabin-container {
      width: 222px;
      font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
        Helvetica, Arial, Lucida Grande, sans-serif;
      height: 111px;
      text-align: center;
      margin: 20px 20px 0px;
    }
    .cabin-container span {
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 0.4rem;
      color: #666;
    }
    .cabin-container h3 {
      font-size: 20px;
      line-height: 2.53rem;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      position: relative;
      margin-bottom: 0;
      color: #333;
      margin: 0;
    }
    .cabin-container p {
      font-size: 13px;
      color: #666;
      margin: 0;
    }
     /*About us*/

  .primary-container {
    width: 1024px;
    height: 4024px;
    margin: auto;
    position: relative;
  }
  .primary-links{
    height: 424px;
    position: relative;
    bottom: -35rem;
  }
  .primary-section-heading {
    width: 924px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 47px;
    margin: 0;
    display: block;
    text-align: center;
    line-height: normal;
  }
  .primary-discription {
    width: 924px;
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial,
      Lucida Grande, sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    color: #333;
    font-weight: 300;
  }
  .primary-container ul {
    list-style-type: none;
    width: 924px;
    height: 246px;
    text-align: center;
    max-width: none;
    padding: 0;
    margin: 0;
  }
  .primary-container ul li {
    width: 220px;
    height: 246px;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    width: 220px;
    min-width: 200px;
    padding-bottom: 10px;
    vertical-align: text-top;
    position: relative;
  }
  .primary-container ul li .rounded-image {
    width: 165px;
    height: 165px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #d8d8d8;
    box-shadow: inset 5px 3px 3px 0 rgba(0, 0, 0, 0.04);
    margin: 15px auto 0;
  }
  .primary-container ul li img{
    width: 100%;
    height: 100%;
  }
  .primary-container ul li span {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    text-decoration: underline;
    display: inline-block;
    color: #333;
  }
  .primary-container ul .rounded-image:hover {
    scale: 1.1;
    transition: all 0.5s ease;
  }

  }

/*-------------------------------For iphone 14 pro max------------------------*/

  @media screen and (max-width:430px){
    .maincontant{
      width: 430px;
      height: 3000px;
    }
    *{
      padding: 0;
      margin: 0;
    }
    nav ul{
      position: absolute;
      top: 20px;
    }
    nav{
        width: 430px;
        height: 55px;
        transition: all 0.5s ease;
    }
    nav .logo{
        background-size: cover;
        background-repeat: no-repeat;
        width: 75px;
        height: 75px;
        transform: translateX(15px);
        transition: all 0.5s ease;
    }
    .hidden{
        visibility: hidden;
        transition: all 0.5s ease;
    }
    .login{
        margin: -80px;
        transition: all 0.5s ease;
    }
    .hero-title{
        width: 164.31px;
        height: 142.39px;
        padding: 0;
        transition: all 0.5s ease;
        position: absolute;
        top: 90px;
        right: 16rem;
    }
    .hero-title h1{
        width: 197.47px;
        height: 88.39px;
        margin: 0;
        transition: all 0.5s ease;
    }
    .hero-subheading{
        width: 348.25px;
        height: 18.39px;
        font-size: 18px;
        line-height: 1.84rem;
        transition: all 0.5s ease;
        letter-spacing: 3px;
    }
    .hero-heading{
        width: 171px;
        height: 50px;
        font-size: 40px;
    line-height: 2rem;
    font-weight: 400;
    transform: rotate(0deg) scale(1) skew(-8deg) translate(0);
    letter-spacing: -1px;
    line-height: 5rem;
    color: #fff;
    text-shadow: .2rem .2rem .5rem rgba(0, 0, 0, .3);
    display: block;
    padding-bottom: 10px;
    transition: all 0.5s ease;
    }
    .hero-discription{
        font-size: 18px;
        width: 348px;
        transition: all 0.5s ease;
    }
    .learn{
        width: 150px;
        position: relative;
        left: 80px;
        float: right;
        transition: all 0.5s ease;
    }
    .hero-image{
        width: 430px;
        transition: all 0.5s ease;
    }
    .widget-container{
      width: 430px;
      height: 182px;
      position: relative;
      top: -130px;
      padding-left: 0;
    padding-right: 0;
    }
    .container-items{
      width: 410px;
      height: 182px;
      margin: 0 auto;
    }
    .serach-flights{
      width: 350px;
      height: 70px;
      padding: 0;
      visibility: hidden;
    }
    .flights-toggle{
      visibility: hidden;
    }
    fieldset{
      visibility: hidden;
    }
    .switch-button1,.switch-button2{
      visibility: hidden;
    }
    input{
      visibility: hidden;
    }
    .flight-controls{
      width: 300px;
      height: 100px;
      visibility: hidden;
    }
    .items-grid li{
      display: inline-block;
    }
    .product-block{
      width: 410px;
      height: 126px;
      margin: 20px auto;
    }
    .product-block-container{
      width: 410px;
      height: 126px;
    }
    .product-block-container ul{
      max-width: 430px;
      height: 126px;
      overflow-x: scroll;
      white-space: nowrap;
      border-spacing: 1rem 0;
        margin-left: -1rem;
    }
    .product-block-container ul li{
      position: relative;
      top: -205px;
      min-width: 120px;
        max-width: 120px;
        border: none;
      border-radius: 3px;
      background: #fff;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .1);
    }
    .product-block-container ul li a{
      font-weight: 700;
    }
    .skywards-login{
      position: relative;
      top: -200px;
      margin: 20px 10px;
        border-radius: 5px;
      width: 300px;
      height: 261px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .sky-signup{
      font-size: 14px;
      line-height: 18px;
      position: relative;
      left: 30px;
    }
    .skywards-login a{
      position: relative;
    }
    .fares-container {
      position: relative;
      top: -190px;
      width: 430px;
      height: 2027px;
      padding-left: 0;
    }
    .fares-destination {
      position: relative;
      bottom: 20px;
      width: 170px;
      height: 37px;
      padding: 0 120px;
      text-align: center;
    }
    .fares-list-grid{
      width: 410px;
      height: 1813px;
    }
    .fares-list-grid li {
      border: 2px solid rgb(0, 0, 0,0.5);
      width: 420px;
      height: 300px;
      margin-left: 0;
      margin-bottom: 1rem;
      list-style-type: none;
      display: inline-block;
      background-color: white;
    }
    .fares-list-grid img {
      width: 410px;
      height: 136px;
    }
    .fares-list-grid a {
      color: black;
    }
    .fares-budget{
      width: 410px;
      height: 132px;
    }
    .fares-destination h2{
      font-size: 30px;
    }
    .fares-destination h2{
      font-weight: 200;
      font-size: 13.4px;
      margin-top: 0;
      margin-right: 0.6rem;
      display: inline-block;
    }
    .fares-destination div{
      display: inline-block;
     font-size: 1rem;
     font-weight: 700;
     margin-bottom: 10px;
     text-decoration: underline;
    }

    /*flying with Emirates*/

    .experience-block {
      position: relative;
      top: -15rem;
      width: 430px;    
    }
    .experience-heading {
      width: 430px;
      height: 242.59px;
      padding-top: 30px;
      text-align: center;
    }
    .experience-heading span {
      font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial,
        Lucida Grande, sans-serif;
      font-size: 13px;
      line-height: 1.38rem;
      font-weight: 700;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      line-height: 1.5rem;
      color: #666;
      text-align: center;
    }
    .experience-heading h2 {
      font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;
      font-size: 25px;
      line-height: 5.75rem;
      font-style: normal;
      width: 390px;
      height: 100px;
      margin-top: 0;
      margin-bottom: 20px;
      -webkit-font-smoothing: antialiased;
    }
    .experience-heading p {
      font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
        Helvetica, Arial, Lucida Grande, sans-serif;
      font-size: 1rem;
      line-height: 1.61rem;
      font-weight: 200;
      color: #666;
      margin-top: 30px;
      margin-bottom: 0;
      width: 390px;
      height: 32px;
    }
    .experience-item img{
      width: 420px;
    }
    .experience-grid {
      width:430px;
      height: 544px;
      padding: 0;
      display: flex;
    }
    .discover-dubai {
      width: 420px;
      height: 545px;
      border: 1px solid #666;
      cursor: pointer;
      margin: 0;
    }
    .experience-container {
      width: 474px;
      height: 166px;
      padding: 30px 30px 0px;
      font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
        Helvetica, Arial, Lucida Grande, sans-serif;
    }
    .experience-container span {
      font-weight: 700;
      font-size: 10px;
      letter-spacing: 0.4rem;
      color: #666;
    }
    .experience-container h3 {
      font-size: 3rem;
      line-height: 5.75rem;
      font-style: normal;
      margin: 0;
    }
    .experience-container p {
      font-size: 1rem;
      margin: 0;
    }
    .cabin-features {
      width: 420px;
      height: 544px;
      margin: 0;
      border: 1px solid #666;
    }
    .cabin-crew {
      position: relative;
      left: -26.4rem;
      display: grid;
      grid-template-columns: 264px ;
      grid-gap: 20px;
    }
    .cabin-item img {
      width: 420px;
      height: 410px;
    }
    .cabin-container {
      width: 408px;
      font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
        Helvetica, Arial, Lucida Grande, sans-serif;
      height: 114px;
      text-align: left;
      margin: 20px 20px 0px;
    }
    .cabin-container span {
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 0.4rem;
      color: #666;
    }
    .cabin-container h3 {
      font-size: 20px;
      line-height: 2.53rem;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      position: relative;
      margin-bottom: 0;
      color: #333;
      margin: 0;
    }
    .cabin-container p {
      font-size: 13px;
      color: #666;
      margin: 0;
    }
    
    /*About us*/

    .primary-container {
      width: 430px;
      height: 499px;
      padding: 0;
      position: relative;
      bottom: -73rem;
    }
    .primary-section-heading {
      width: 430px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      padding-right: 20px;
      padding-left: 20px;
      margin: 0;
      display: block;
      text-align: center;
      line-height: normal;
    }
    .primary-discription {
      width: 430px;
      height: 32px;
      font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial,
        Lucida Grande, sans-serif;
      font-size: 14px;
      text-align: center;
      line-height: normal;
      color: #333;
      font-weight: 300;
    }
    .primary-container ul {
      list-style-type: none;
      width: 430px;
      height: 317px;
      overflow-x: scroll;
        overflow-y: hidden;
        text-align: center;
        white-space: nowrap;
      padding: 0;
      margin: 0;
    }
    .primary-container ul li {
      font-size: 14px;
      font-weight: 700;
      display: inline-block;
      text-align: center;
      width: 220px;
      min-width: 200px;
      padding-bottom: 10px;
      vertical-align: text-top;
      position: relative;
    }
    .primary-container ul li .rounded-image {
      width: 165px;
      height: 165px;
      overflow: hidden;
      border-radius: 50%;
      text-align: center;
      border: 1px solid #d8d8d8;
      box-shadow: inset 5px 3px 3px 0 rgba(0, 0, 0, 0.04);
      margin: 15px auto 0;
    }
    .primary-container ul li img{
      width: 100%;
      height: 100%;
    }
    .primary-container ul li span {
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 700;
      text-decoration: underline;
      display: inline-block;
      color: #333;
    }
    .primary-container ul .rounded-image:hover {
      scale: 1.1;
      transition: all 0.5s ease;
    }
    .primary-links{
      width: 430px;
      height: 499px;
    }
  }
  @media screen and (max-width:720px){
    body {
      background-color: #f6f6f6;
    }
    * {
      padding: 0;
    }
    nav button {
      background-color: black;
      border: 1px solid black;
      color: white;
      font-size: 14px;
      font-weight: bolder;
    }
    nav {
      display: flex;
      background-color: black;
      width: 720px;
      height: 55px;
    }
    .login {
      margin-left: 150px;
      padding-right: 60px;
    }
    nav ul {
      display: flex;
      justify-content: space-evenly;
      gap: 10px;
      align-items: center;
      list-style: none;
      position: absolute;
      top: 10px;
      transform: translateX(250px);
    }
    a {
      padding: 20px 10px 15px;
      position: relative;
      text-decoration: none;
      color: white;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
    }
    nav .logo {
      transform: translateX(10px);
      width: 105px;
      height: 105px;
      background-image: url("logo-emirates.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    img {
      overflow: hidden;
      width: 720px;
      height: 460px;
    }
    .hero-title {
      padding: 0px 60px;
      position: absolute;
      top: 170px;
      display: inline-block;
      transform: translateX(-45rem);
    }
    .hidden{
      width: 700px;
      visibility: hidden;
    }
    .hero-subheading {
      position: relative;
      top: -1rem;
      font-family: Emirates-Bold, Arial, Lucida Grande, sans-serif;
      font-size: 2rem;
      line-height: normal;
      font-weight: bolder;
      display: block;
      padding-left: 2.1rem;
      position: absolute;
      transform: skew(-13deg);
      color: #fff;
      text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
      letter-spacing: 0.2rem;
    }
    .heading-wrap {
      margin-top: 5px;
      display: inline-block;
      top: 50px;
    }
    .hero-heading {
      font-family: Heroic-Medium, Arial Narrow Bold, Franklin Gothic Medium,
        Franklin Gothic, Arial Narrow, HelveticaNeue, Helvetica, arial,
        sans-serif;
        font-size: 4rem;
      font-weight: 400;
      padding: 0px 0px 13px 22px;
      transform: skew(-13deg);
      color: #fff;
      margin: 0;
      text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
      display: block;
    }
    .hero-discription {
      padding-right: 0.4rem;
      padding-left: 2.2rem;
      float: right;
      font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;
      font-size: 1.7rem;
      color: #fff;
      text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
      font-weight: bold;
      line-height: normal;
      transform: skew(-13deg);
      letter-spacing: 0.2rem;
    }
    .learn {
      font-weight: 700;
      background-color: #d71921;
      border-radius: 5px;
      position: relative;
      text-align: center;
      display: block;
      float: right;
      padding: 11px;
      font-size: 18px;
      line-height: 1.61rem;
    }
    .widget-container {
      max-width: 1200px;
      padding-left: 10px;
      padding-right: 10px;
      height: 233px;
    }
  
    .widget-container {
      transform: translateY(-70px);
      width: 1100px;
    }
    .container-items {
      width: 700px;
      height: 250px;
      background-color: white;
      border-radius: 0.3rem;
      box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.19);
    }
    .maincontant {
      display: block;
    }
    .hero-title a {
      width: 150px;
    }
    .items-grid {
      display: flex;
    }
    .items-grid li:hover {
      border-bottom: 4px solid #d71921;
      transition: all 0.5s;
      cursor: pointer;
    }
    .items-grid {
      white-space: nowrap;
      margin: 2px;
    }
    .items-grid li {
      position: relative;
      padding: 20px 10px;
      display: block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 500;
      list-style: none;
      border-bottom: 4px solid black;
    }
    .serach-flights {
      visibility: hidden;
      height: 147px;
      width: 700px;
      padding: 20px;
      padding-top: 5px;
      padding-bottom: 1rem;
    }
    fieldset {
     visibility: hidden;
      margin-top: 1rem;
      width: 1054px;
      height: 32px;
      border: 0;
      padding: 0;
    }
    .switch-button1 {
      visibility: hidden;
      border: 2px solid rgb(0, 0, 0, 0.5);
      border-radius: 5px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      font-family: Arial, Helvetica, sans-serif;
      width: 95.11px;
      height: 30px;
      padding: 0.3rem 3rem 0.7rem;
      margin-right: -6px;
      padding-left: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .switch-button2 {
      visibility: hidden;
      border: 2px solid rgb(0, 0, 0, 0.5);
      border-radius: 5px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      transform: translateY(1px) translateX(5px);
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      width: 100.56px;
      height: 30px;
      margin-right: 2rem;
      padding-left: 45px;
      padding: 0.3rem 3rem 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .flight-controls {
      width: 700px;
      height: 100px;
      margin-top: 15px;
      transform: translateY(-120px);
    }
    .departure-arrival {
      display: flex;
      padding-left: 0;
      padding-left: 24px;
      transform: translateY(30px);
    }
  
    .inline-link {
      font-weight: 400;
      color: #d71921;
      text-decoration: underline;
      position: absolute;
      padding-top: 5px;
      top: 0;
      right: 0;
      text-align: right;
    }
    .departure-dropdown,
    .arrival-dropdown {
      width: 411.9px;
      height: 60px;
      border: 2px solid rgb(0, 0, 0, 0.5);
      border-radius: 5px;
    }
    .arrival-dropdown div {
      padding: 10px 10px 10px;
    }
    .departure-dropdown div {
      padding: 10px 10px 10px;
    }
   
      .product-block {
        max-width: 1200px;
      }
  
    .product-block li {
      list-style-type: none;
      width: 137.25px;
      display: table-cell;
      height: 119px;
      border: 1px solid #666;
    }
    .product-block ul {
      display: table;
      list-style: none;
    }
    .product-block li a {
      top: 50px;
      text-decoration: underline;
      font-family: Arial, Helvetica, sans-serif;
      color: #666;
      font-weight: 400;
      width: 136.25px;
      height: 101px;
      padding: 5px;
    }
    .product-block i{
      position: relative;
      top: 50px;
    }
    .continue button {
      width: 195.59px;
      height: 60px;
      color: white;
      background-color: #c60c30;
      margin-left: 10px;
      text-align: center;
      border: 0;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 700;
    }
  
    /*Emirates Skywards*/
  
    .skywards-login {
      width: 1100px;
      height: 60.58px;
      margin: 25px auto;
      display: flex;
      background-color: black;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      border: 5px solid black;
      border-radius: 5px;
    }
    .skywards-logo {
      width: 260px;
      height: 100.58px;
    }
    .sky-body{
      display: flex;
      flex-direction: column;
      position: relative;
      right: 30px;
    }
    .emirates-skywards{
      color: white;
      font-size: 16px;
      line-height: 25px;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    /*Featured Destinations*/
  
    .fares-container {
      width: 670px;
      height: 777px;
    }
    .fares-destination {
      padding: 0 120px;
      text-align: center;
    }
    .fares-destination h2{
      font-weight: 200;
      font-size: 1.4rem;
      margin-top: 0;
      margin-right: 0.6rem;
      display: inline-block;
    }
    .fares-destination div{
      display: inline-block;
     font-size: x-large;
     font-weight: 700;
     text-decoration: underline;
    }
    .fares-list-grid li {
      margin-left: 3rem;
      margin-bottom: 2rem;
      list-style-type: none;
      display: inline-block;
      background-color: white;
    }
    .fares-list-grid img {
      width: 333px;
      height: 111px;
    }
    .fares-list-grid a {
      color: black;
    }
    .fares-budget{
      width: 333px;
    }
  
    /*Flying with Emirates*/
  
    .experience-block {
      width: 720px;
      height: 863px;
    }
    .experience-heading {
      width: 720px;
      height: 242.59px;
      padding-top: 30px;
      text-align: center;
    }
    .experience-heading span {
      font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial,
        Lucida Grande, sans-serif;
      font-size: 13px;
      line-height: 1.38rem;
      font-weight: 700;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      line-height: 1.5rem;
      color: #666;
      text-align: center;
    }
    .experience-heading h2 {
      font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;
      font-size: 2rem;
      line-height: 5.75rem;
      font-style: normal;
      width: 720px;
      height: 57.5px;
      margin-top: 0;
      margin-bottom: 20px;
      -webkit-font-smoothing: antialiased;
    }
    .experience-heading p {
      font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
        Helvetica, Arial, Lucida Grande, sans-serif;
      font-size: 1rem;
      line-height: 1.61rem;
      font-weight: 200;
      color: #666;
      margin-top: 30px;
      margin-bottom: 0;
      width: 720px;
      height: 17.09px;
    }
    .experience-grid {
      width: 720px;
      height: 544px;
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
    }
    .discover-dubai {
      background-color: white;
      width: 534px;
      height: 545px;
      border: 1px solid #666;
      cursor: pointer;
      margin-right: 10px;
    }
    .experience-container {
      width: 474px;
      height: 166px;
      padding: 30px 30px 0px;
      font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
        Helvetica, Arial, Lucida Grande, sans-serif;
    }
    .experience-container span {
      font-weight: 700;
      font-size: 10px;
      letter-spacing: 0.4rem;
      color: #666;
    }
    .experience-item img{
      width: 534px;
      height: 349px;
      transition: all 0.5s ease;
    }
    .experience-container h3 {
      font-size: 3rem;
      line-height: 5.75rem;
      font-style: normal;
      margin: 0;
    }
    .experience-container p {
      font-size: 1rem;
      margin: 0;
    }
    .cabin-features {
      background-color: white;
      width: 262px;
      height: 262px;
      margin: 0;
      border: 1px solid #666;
    }
    .cabin-crew {
      display: grid;
      grid-template-columns: 264px 264px;
      grid-gap: 20px;
    }
    .cabin-item img {
      width: 262px;
      height: 131px;
    }
    .cabin-container {
      width: 222px;
      font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
        Helvetica, Arial, Lucida Grande, sans-serif;
      height: 111px;
      text-align: center;
      margin: 20px 20px 0px;
    }
    .cabin-container span {
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 0.4rem;
      color: #666;
    }
    .cabin-container h3 {
      font-size: 20px;
      line-height: 2.53rem;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      position: relative;
      margin-bottom: 0;
      color: #333;
      margin: 0;
    }
    .cabin-container p {
      font-size: 13px;
      color: #666;
      margin: 0;
    }
  
    /*About us*/
  
    .primary-container {
      width: 720px;
      height: 360px;
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      position: relative;
      padding-bottom: 40px;
    }
    .primary-links{
      position: relative;
      bottom: -55rem;
      background-color: white;
      width: 720px;
      height: 412px;
    }
    .primary-section-heading {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      padding-top: 47px;
      margin: 0;
      width: 720px;
      display: block;
      text-align: center;
      line-height: normal;
    }
    .primary-discription {
      font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial,
        Lucida Grande, sans-serif;
      font-size: 14px;
      width: 720px;
      height: 16px;
      text-align: center;
      line-height: normal;
      color: #333;
      font-weight: 300;
    }
    .primary-container ul {
      list-style-type: none;
      width: 720px;
      height: 200px;
      overflow-x: scroll;
      text-align: center;
      padding: 0;
      margin: 0;
    }
    .primary-container ul li {
      font-size: 14px;
      font-weight: 700;
      display: inline-block;
      text-align: center;
      width: 220px;
      min-width: 200px;
      padding-bottom: 10px;
      vertical-align: text-top;
      position: relative;
    }
    .primary-container ul li .rounded-image {
      width: 165px;
      height: 165px;
      overflow: hidden;
      border-radius: 50%;
      text-align: center;
      border: 1px solid #d8d8d8;
      box-shadow: inset 5px 3px 3px 0 rgba(0, 0, 0, 0.04);
      margin: 15px auto 0;
    }
    .primary-container ul li img{
      width: 100%;
      height: 100%;
    }
    .primary-container ul li span {
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 700;
      text-decoration: underline;
      display: inline-block;
      color: #333;
    }
    .primary-container ul .rounded-image:hover {
      scale: 1.1;
      transition: all 0.5s ease;
    }
  }